<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Meu Telefone
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  {{ statusBattery | json }}
  {{ isPlugged | json }}

  <ion-card *ngIf="statusBattery || isPlugged" no-margin text-center
  [class.red]="statusBattery < 15"
  [class.orange]="statusBattery <= 30 && statusBattery >= 15"
  [class.green]="statusBattery > 30"
  >
    <ion-card-header>
      Status Bateria
    </ion-card-header>
  
    <ion-card-content no-padding>
      <p class="percent">{{ statusBattery }}%</p>

      <p *ngIf="!isPlugged">Bateria fora da carga</p>
      <p *ngIf="isPlugged">Bateria sendo carregada</p>
    </ion-card-content>
  </ion-card>

  <ion-card color="primary" *ngIf="!statusBattery || !isPlugged" no-margin text-center>
    <ion-card-content no-padding>
      <p>Não foi possivel carregar os dados da bateria</p>
    </ion-card-content>
  </ion-card>

  <ion-card no-margin style="margin-top: 10px">
    <ion-card-header text-center>
      Dispositivo
    </ion-card-header>
  
    <ion-card-content>
      <p>Marca: <b>{{ dataDevice?.manufacturer }}</b></p>
      <p>Modelo: <b>{{ dataDevice?.model }}</b></p>
      <p>Plataforma: <b>{{ dataDevice?.platform }}</b></p>
      <p>Serial: <b>{{ dataDevice?.serial }}</b></p>
      <p>UUID: <b>{{ dataDevice?.uuid }}</b></p>
      <p>Versão Plataforma: <b>{{ dataDevice?.version }}</b></p>
      <p>Versão Cordova: <b>{{ dataDevice?.cordova }}</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <button no-shadow ion-button block>Verificar Bateria</button>
  </ion-toolbar>
</ion-footer>
